// Methods
$_color-post: $cyan;
$_color-get: $cyan;
$_color-put: $cyan;
$_color-delete: $midnight;
$_color-head: #9012fe;
$_color-patch: #50e3c2;
$_color-disabled: #ebebeb;
$_color-options: #0d5aa7;

$methods: (post: $_color-post),(get: $_color-get), (put: $_color-put),(delete: $_color-delete),(head: $_color-head),(patch: $_color-patch),(deprecated: $_color-disabled),(options: $_color-options)
